.container {
    background-color: #835B8D;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 80px;
    width: 1200px;
    height: 600px;
    border-radius: 10px;
}

.container .mat-form-field + .mat-form-field {
    margin-left: 8px;
}

.topping-section {
    margin: 12px 0;
}

.button-row {
    display: flex;
    justify-content: center;
}

.button-row button,
.button-row a {
  margin-right: 80px;
}

.section-mat-form{
    padding-top: 40px;
    display: flex;
    justify-content: center;
}

.section-mat-form mat-form-field mat-label,
.section-mat-form mat-form-field mat-hint,
.section-mat-form mat-form-field mat-hint input
{
    color: #fff;
}

.section-container {
    display: flex;
    justify-content: center;
}